

 
    *{
        margin: 0;
        padding: 0;
    
    }

    .nav{
        background-color: rgb(255, 236, 225);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        box-shadow: 1px 1px 5px black;

    }
    .logo{
        margin-top:20px;
        margin-left: 5px;
    }
    .logo img{
        width: 30px; 
        height: 30px;
    }
    .menu{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .menu a{
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 10px;
        color: teal;
        cursor: pointer;
        padding-left: 40px;
        font-family: 'Tenor Sans', sans-serif;
    }
   
    .menu a:hover{
        color: black;
    }
        
    
   
    .button img{
        margin-top: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    /*page1*/
    .page1{
        background-color:rgb(255, 236, 225) ;
        height: 100%;
    }
    .plate{
        text-align: center;
        padding-top: 20px;
    }
    .plate img{
        height: 200px;
        width: 200px;
    }
    .variety{
        width: 300px;
        height: 70px;
        background-color: teal;
        margin: auto;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .plate1{  
        

    }
    .dish1 img{
        margin-top: 25px;
        width: 60px;
        height: 60px;
        padding: 0;
    }
    

    .plate2{
      
    }
    .dish2 img{
        margin-top: 25px;
        width: 60px;
        height: 60px;
    }
    .dish2 p{
        font-size: 10px;
    }



    .plate3{

    }
    .dish3 img{
        margin-top: 25px;
        width: 60px;
        height: 60px;
    }
    .dish3 p{
        font-size: 10px;
    }




    .plate4{

    }
    .dish4 img{
        margin-top: 25px;
        width: 60px;
        height: 60px;
    }
    .dish4 p{
        font-size: 10px;
    }
    
    .text p{
        font-size: 10px;
        font-family: 'Tenor Sans', sans-serif;
        writing-mode:vertical-lr ;
        padding-right: 10px;
        color:rgb(255, 236, 225) ;
    }
    .content{
        text-align: center;
        margin-top: 20px;
    }
    .content h1{
        font-size: 20px;
        color: teal;
        font-family: 'Tenor Sans', sans-serif;
    }
    .content button{
        background-color: teal;
        outline: none;
        color:rgb(255, 236, 225) ;
        font-size: 8px;
        border: 1px solid transparent;
        padding: 2px 1px;
        font-family: 'Tenor Sans', sans-serif;
        margin-bottom: 8px;
    }

    .content button:hover{
        background-color: white;
        color: teal;
        border: 1px solid teal;

    }

    .page2{
        background-color: teal;
        height: 200px;

    }
    .texty h1{
        
        color: rgb(255, 236, 225);
        font-size: 20px;
        padding-top: 20px;
        padding-left: 20px;
        font-family: 'Tenor Sans', sans-serif;
    }
    .texty p{
        color: rgb(255, 236, 225);
        font-size: 7px;
        
        padding-left: 20px;
        font-family: 'Tenor Sans', sans-serif;
    }
    .slider{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .slide1{
        margin-top: 30px;
       margin-left: 20px;

       width: 80px;
       height:100px ;
       background-color: rgb(255, 236, 225);
       border-radius: 20px;
    }
    .slide1 img{
        width: 60px;
        height: 60px;
        

    }
    .slide1 h5{
        font-size: 8px;
        font-family: 'Tenor Sans', sans-serif;
        margin-top: -10px;
        
    }

    .slide2{
        width: 80px;
       height:100px ;
       background-color: rgb(255, 236, 225);
        margin-top: 30px;
        border-radius: 20px;
    }
    .slide2 img{
        width: 60px;
        height: 60px;

    }
    .slide2 h5{
        font-family: 'Tenor Sans', sans-serif;
        font-size: 8px;
        margin-top: -10px;

    }

    .slide3{ 
        width: 80px;
       height:100px ;
       background-color: rgb(255, 236, 225);
        margin-top: 30px;
        border-radius: 20px;

    }
    .slide3 img{
        width: 60px;
        height: 60px;

    }
    .slide3 h5{
        font-family: 'Tenor Sans', sans-serif;
        font-size: 8px;
        margin-top: -10px;

    }

    .footer
    {
    height: 200px;
    background-color: rgb(255, 236, 225);
    }

    .services{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-left: 30px;
        color: teal;
        
    }
    .services ol{
        font-size:3px;
        margin-bottom: 20px;
        font-family: 'Tenor Sans', sans-serif;
        
    }
    .services ol li{
        font-size: 7px;
        list-style-type: none;
        font-family: 'Tenor Sans', sans-serif;

    }

    .team{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        padding-left: 30px;
        
    }
    .services ol{
        font-size:8px;
        font-family: 'Tenor Sans', sans-serif;
        margin-bottom: 20px;
        
    }
    .services ol li{
        font-size: 7px;
        list-style-type: none;
        font-family: 'Tenor Sans', sans-serif;

    }

    .legal{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-left: 30px;
        
    }
    .legal ol{
        font-size:8px;
        margin-bottom: 20px;
        font-family: 'Tenor Sans', sans-serif;
    }
    .legal ol li{
        font-size: 7px;
        list-style-type: none;
        font-family: 'Tenor Sans', sans-serif;

    }


    .newsletter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-left: 30px;
        
    }
    .newsletter ol{
        font-size:8px;
        font-family: 'Tenor Sans', sans-serif;
        margin-bottom: 20px;
        
    }
    .newsletter ol li{
        font-size: 7px;
        list-style-type: none;
        font-family: 'Tenor Sans', sans-serif;

    }
    .newsletter input{
        border: 1px solid teal;
        font-size: 5px;
        width: 70px;
        color: white;
        height: 6px;
    }
    .newsletter button{
        margin-top: 3px;
        background-color:teal;
        font-size: 7px;
        border: 1px solid transparent;
        outline: none;
        color: rgb(255, 236, 225);
        font-family: 'Tenor Sans', sans-serif;
    }
    .down h5{
        padding-left: 35px;
        font-size: 10px;
        font-family: 'Tenor Sans', sans-serif;
        color: teal;
    }
    .down p{
        padding-left: 35px;
        font-size: 10px;
        font-family: 'Tenor Sans', sans-serif;
        color: dodgerblue;
        padding-top: 10px;
    }
    
    @media  (max-width: 706px){

        *{
            margin: 0;
            padding: 0;
        
        }
    
        .nav{
            background-color: rgb(255, 236, 225);
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 30px;
            box-shadow: 1px 1px 5px black;
    
        }
        .logo{
            margin-left: 6px;
        }
        .logo img{
            width: 15px; 
            height: 15px;
        }
        .menu{
            margin-bottom: 5px;
        }
        .menu a{
            text-decoration: none;
            font-size: 10px;
            margin-bottom: 10px;
            color: teal;
            cursor: pointer;
            padding: 6px;
            font-family: 'Tenor Sans', sans-serif;
        }
       
        .button img{
            width: 12px;
            height: 12px;
            cursor: pointer;
        }
        /*page1*/
        .page1{
            background-color:rgb(255, 236, 225) ;
            height: 100%;
        }
        .plate{
            text-align: center;
            padding-top: 20px;
        }
        .plate img{
            height: 200px;
            width: 200px;
        }
        .variety{
            width: 300px;
            height: 70px;
            background-color: teal;
            margin: auto;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .plate1{  
            
    
        }
        .dish1 img{
            margin-top: 25px;
            width: 60px;
            height: 60px;
            padding: 0;
        }
        
    
        .plate2{
          
        }
        .dish2 img{
            margin-top: 25px;
            width: 60px;
            height: 60px;
        }
        .dish2 p{
            font-size: 10px;
        }
    
    
    
        .plate3{
    
        }
        .dish3 img{
            margin-top: 25px;
            width: 60px;
            height: 60px;
        }
        .dish3 p{
            font-size: 10px;
        }
    
    
    
    
        .plate4{
    
        }
        .dish4 img{
            margin-top: 25px;
            width: 60px;
            height: 60px;
        }
        .dish4 p{
            font-size: 10px;
        }
        
        .text p{
            font-size: 10px;
            font-family: 'Tenor Sans', sans-serif;
            writing-mode:vertical-lr ;
            padding-right: 10px;
            color:rgb(255, 236, 225) ;
        }
        .content{
            text-align: center;
            margin-top: 20px;
        }
        .content h1{
            font-size: 20px;
            color: teal;
            font-family: 'Tenor Sans', sans-serif;
        }
        .content button{
            background-color: teal;
            outline: none;
            color:rgb(255, 236, 225) ;
            font-size: 8px;
            border: 1px solid transparent;
            padding: 2px 1px;
            font-family: 'Tenor Sans', sans-serif;
            margin-bottom: 8px;
        }
    
        .content button:hover{
            background-color: white;
            color: teal;
            border: 1px solid teal;
    
        }
    
        .page2{
            background-color: teal;
            height: 200px;
    
        }
        .texty h1{
            
            color: rgb(255, 236, 225);
            font-size: 20px;
            padding-top: 20px;
            padding-left: 20px;
            font-family: 'Tenor Sans', sans-serif;
        }
        .texty p{
            color: rgb(255, 236, 225);
            font-size: 7px;
            
            padding-left: 20px;
            font-family: 'Tenor Sans', sans-serif;
        }
        .slider{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .slide1{
            margin-top: 30px;
           margin-left: 20px;
    
           width: 80px;
           height:100px ;
           background-color: rgb(255, 236, 225);
           border-radius: 20px;
        }
        .slide1 img{
            width: 60px;
            height: 60px;
            
    
        }
        .slide1 h5{
            font-size: 8px;
            font-family: 'Tenor Sans', sans-serif;
            margin-top: -10px;
            
        }
    
        .slide2{
            width: 80px;
           height:100px ;
           background-color: rgb(255, 236, 225);
            margin-top: 30px;
            border-radius: 20px;
        }
        .slide2 img{
            width: 60px;
            height: 60px;
    
        }
        .slide2 h5{
            font-family: 'Tenor Sans', sans-serif;
            font-size: 8px;
            margin-top: -10px;
    
        }
    
        .slide3{ 
            width: 80px;
           height:100px ;
           background-color: rgb(255, 236, 225);
            margin-top: 30px;
            border-radius: 20px;
    
        }
        .slide3 img{
            width: 60px;
            height: 60px;
    
        }
        .slide3 h5{
            font-family: 'Tenor Sans', sans-serif;
            font-size: 8px;
            margin-top: -10px;
    
        }
    
        .footer
        {
        height: 200px;
        background-color: rgb(255, 236, 225);
        }
    
        .services{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 30px;
            padding-left: 30px;
            color: teal;
            
        }
        .services ol{
            font-size:3px;
            margin-bottom: 20px;
            font-family: 'Tenor Sans', sans-serif;
            
        }
        .services ol li{
            font-size: 7px;
            list-style-type: none;
            font-family: 'Tenor Sans', sans-serif;
    
        }
    
        .team{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            padding-left: 30px;
            
        }
        .services ol{
            font-size:8px;
            font-family: 'Tenor Sans', sans-serif;
            margin-bottom: 20px;
            
        }
        .services ol li{
            font-size: 7px;
            list-style-type: none;
            font-family: 'Tenor Sans', sans-serif;
    
        }
    
        .legal{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 30px;
            padding-left: 30px;
            
        }
        .legal ol{
            font-size:8px;
            margin-bottom: 20px;
            font-family: 'Tenor Sans', sans-serif;
        }
        .legal ol li{
            font-size: 7px;
            list-style-type: none;
            font-family: 'Tenor Sans', sans-serif;
    
        }
    
    
        .newsletter{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 30px;
            padding-left: 30px;
            
        }
        .newsletter ol{
            font-size:8px;
            font-family: 'Tenor Sans', sans-serif;
            margin-bottom: 20px;
            
        }
        .newsletter ol li{
            font-size: 7px;
            list-style-type: none;
            font-family: 'Tenor Sans', sans-serif;
    
        }
        .newsletter input{
            border: 1px solid teal;
            font-size: 5px;
            width: 70px;
            color: white;
            height: 6px;
        }
        .newsletter button{
            margin-top: 3px;
            background-color:teal;
            font-size: 7px;
            border: 1px solid transparent;
            outline: none;
            color: rgb(255, 236, 225);
            font-family: 'Tenor Sans', sans-serif;
        }
        .down h5{
            padding-left: 35px;
            font-size: 10px;
            font-family: 'Tenor Sans', sans-serif;
            color: teal;
        }
        .down p{
            padding-left: 35px;
            font-size: 10px;
            font-family: 'Tenor Sans', sans-serif;
            color: dodgerblue;
            padding-top: 10px;
        }

    }